### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Visual Studio Code Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode

testing/
src/analyze/

src/pcd_data/*
src/viewpoints_candidate/*

!src/pcd_data/testing_data/.gitkeep
!src/viewpoints_candidate/testing_data/.gitkeep
